@using ItUniver.Tasks.Application.Services.Dto

@model ICollection<UserDto>

@{
    ViewData["Title"] = "Список пользователей";
}

<div class="card">
    <div class="card-header">
        Список пользователей
    </div>
    <div class="card-body">
        <table class="table table-borderless">
            @foreach (var user in Model)
            {
                <tr>
                    <td style="padding-left: 0px; padding-right: 0px;">
                        <div class="card">
                            <div class="card-body">
                                <div style="display: flex">
                                    <h5 style="display: flex; margin-bottom: 0px;">
                                        @user.Login
                                    </h5>
                                    <div style="width: 100%;">
                                        <span class="material-icons" style="float: right; cursor: pointer; color: red;" onclick="user.block(@user.Id, this)">
                                            block
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@section scripts
{
    <script src="~/view-resources/user/scripts.js"></script>
}