@using ItUniver.Tasks.Entities

@model ICollection<TaskBase>

@{
    ViewData["title"] = "Список задач";
    var createUrl = Url.Action("Add", "Task");
}

<div class="card">
    <div class="card-header">
        Список задач
        <a style="float: right;" href="@createUrl" type="button" class="btn btn-primary">Добавить задачу</a>
    </div>
    <div class="card-body">
        <table class="table table-borderless">
            <tbody>
                @foreach (var task in Model)
                {
                    <tr>
                        <td style="padding-left: 0px; padding-right: 0px">
                            @await Html.PartialAsync("Task/RowDetails", task)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section scripts
{
    <script src="~/view-resourses/task/scripts.js"></script>
}